# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

*.suo
*.userprefs
*.user
scr/App_Data/Database
scr/App_Data/*
scr\App_Data\Database
scr\App_Data\*
[P]ackages\
