/*
	Definições de Layouts por elemento
*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3f444a;  
	background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_body.gif");
    background-position: 0 0;
    background-repeat: repeat;
}

input,select,textarea {
	text-transform: uppercase;
}

.popupCredito {
height: 230px;
width: 550px;
overflow: auto;
}

.label {
    font-weight: bold;	
}

fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff;
	margin: 8px 5px;
}

#fieldsetErro {
    background-color:  #FC583F;
    border:  1px solid #ccc;
    margin:  2em 0;
    padding:  1em;
    aling: center;
}

.comboDinamica {
   width: 637px;
}

.comboMunicipio {
   width: 226px;
}

fieldset.ativo {
	display: block;
}

fieldset.inativo {
	display: none;
}

h3 {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 16px;
}

h4 {
    border-bottom-color: #EAE5FE;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    color: #41444A;
    font-size: 10pt;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 3px;
    font-weight: bold;
}

hr {
	border: none;
	color: #ABDDF8;
	margin: 4px 0;
}

label {
	margin-top: 8px;
	display: block;
}

legend {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 13px;
	padding: 0 5px;
	font-weight: bold;
}

p {
	margin: 0px;
	padding: 0px;
}

.paginacao {
    background-color: #D4D6D5;
    border: 1px solid #999999;
    color: #777777;
    font-size: 10px;
    margin: 5px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 99%;
}

#navegacao   {
    background-color: #D4D6D5;
    border: 1px solid #999999;
    color: #777777;
    font-size: 10px;
    margin: 5px auto;
    padding: 5px;
    text-align: right;
    width: 99%;	    
}

.span_botaoProcurar {
    background-color: #B2B2AB;
    border: 1px solid #999999;
    color: #3F444A;
    margin: 3px;
    padding: 2px 5px 2px 25px;
    text-decoration: none;
    background-image: url(../img/procurar.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.span_titulo_pagina {
	font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 3px;
}

.vinculacao_curso {
	float:left;
	margin-top:5px
}

.span_titulo_voltar {
     margin-left: 415px;
       
    /* position: absolute; */
       
    	
}

.titulo_pagina {
    padding: 3px;
}

.titulo_pagina_voltar {
    background-color: #B2B2AB;
    border: 1px solid #999999;
    color: #3F444A;
    margin: 3px;
    padding: 2px;
    text-decoration: none;	
}

/*
	Definições de Layouts por ID
*/
#divscroll {
	overflow: auto;
	max-height: 300px;
	height: expression(document.body.clientWidth >   300 ?   "300px" :   "auto");
	width: 100%;
}

#aba li {
	font-size: 10px;
	display: inline;
	margin: 0 1px;
}

#aba li a {
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
}

#aba li.ativo a {
	background: #dedfdd;
	border: 2px solid #ccc;
	border-bottom: none;
}

#aba li.disabled a {
	color: #999;
	background: #ddd;
	cursor: default;
}

#aba li.ativo a:hover {
	cursor: default;
	color: #777;
}

#aba li.inativo a {
	background: #999;
}

#aba li.inativo a:hover {
	background: #dedfdd;
	color: #3F444A;
}

#aba ul {
	padding: 6px 0 0 0;
}

#barra_governo {
	background-color: #FFCC00;
	height: 35px;
}

#barra-br {
	position:relative;
	clear:both;
	overflow:hidden;
	min-width:940px;
	height:28px;
	background:#004b82;
	margin-bottom: 15px;
}
#barra-br span {
	display:block;
	width:50%;
	height:28px;
	background:url(http://www.capes.gov.br/images/stories/barra-br-bgx.gif) 0 bottom repeat-x;
}
#barra-br span .imagemGov {
	position:absolute;
	top:4px;
	left:50%;
	height: 24px;
	width: 880px;
	background: url(http://www.capes.gov.br/images/stories/barra-br-azul.gif) right top no-repeat;
	margin-left:-400px;
}
#barra-br span .brasilgov {
	width: 100px;
	height: 24px;
	float:right;
	display:block;
	border: 0 !important;
	background-color: transparent;
}

#conteudo {
	padding: 10px;
	min-height: 750px;
	width: 790px;
	float: right;
	
}

#conteudo #content_texto {
	float: left;
	width: 505px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	background-color: #FFFFFF;
	padding: 6px;
	border: 1px solid #73BCE1;
}

#conteudo #formatacao {
	background-color: #dedfdd;
	padding: 5px;
}

#conteudo #listagens {
	padding: 5px;
	background-color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#conteudo #listagens #paginacao {
	width: 99%;
	text-align: center;
	border: 1px solid #999;
	background-color: #d4d6d5;
	margin: 5px 0;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #777777;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

#conteudo #login {
	width: 300px;
	background-color: #FFFFFF;
	margin-right: 6px;
	margin-left: 6px;
	margin-left: 3px;
	background-color: #FFFFFF;
	border: 1px solid #999;
	padding: 5px;
}

#fscursos img{
	margin: 1px 0 0 6px;
    float: left;
}


#fscursos input{
    float: left;
}

/* Fix IE. Hide from IE Mac \*/
* html #menu ul li {
	float: left;
	height: 1%;
}

* html #menu ul li a {
	height: 1%;
}

/* End */
#menu {
	float: left;
	width: 150px;
	background-color: #999;
}

#menu a:hover {
	background: #777777;
}

#menu h3 {
	background: #3f444a;
	color: #FFF;
	padding: 5px;
	font-size: 13px;
	margin: 0;
}

#menu li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 5px;
}

#menu li.sub h4 {
	color: black;
	background: #a4a49f;
	padding: 5px;
	margin: 0;
}

#menu li.sub ul li a {
	padding-left: 15px;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#popup #content_texto {
	float: left;
	width: 505px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	background-color: #FFFFFF;
	padding: 6px;
	border: 1px solid #73BCE1;
}

#popup #listagens #paginacao {
	text-align: center;
	border: 1px solid #999;
	background-color: #d4d6d5;
	margin: 5px 0;
	padding: 5px;
	color: #777777;
	font-size: 10px;
}

#popup #formatacao {
	background-color: #dedfdd;
	padding: 5px;
}

.list-vinculo {
  display: inline;
  padding-left: 5px;
  padding-top: 10px;
}

.span-vinculo {
	margin-left: 17px;
}

.span-vinculo-curso-entidade {
    font-size: 9px;
    font-weight: 800;
    color: red;
    text-align: right;
    cursor: default;
    
}

#legendas {
    background-color: #FFFFFF;
    padding: 5px;
}

#nu_cpf {
	margin: 3px;
	padding: 2px;
	border: 1px;		
	padding: 1px;
}

.edit_busca {
    width: 85px;
    font-size: 10px;
    border: 1px solid #3F444A;
    color: #3F444A;	
}
.button_busca {
	cursor: pointer;
	position: relative; 
	top: 4px;
}

.button_fechar {
	cursor: pointer;
	position: relative; 
	top: 4px;
}

.span-procurar {
	background-color: #b2b2ab;
	margin: 3px;
	padding: 2px;
	text-decoration: none;
	color: #3F444A;
	border: 1px solid #999;		
	/* background-image: url(../img/procurar.gif); */
	background-repeat: no-repeat;
	padding: 2px 3px 3px 4px; 
}

.span-historico {
	background-image: url(../img/relatorio.png);
	background-repeat: no-repeat;
	padding: 1px;
}

.span-vinculo-inexistente {
	background-image: url(../img/linkInexistente.png);
	background-repeat: no-repeat;
	padding: 1px;
}

.span-vinculo-ativo {	
    background-image: url(../img/linkAtivo.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-cartao_inexistente {	
    background-image: url(../img/cartao_inexistente.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-cartao_solicitado {	
    background-image: url(../img/cartao_solicitado.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-cartao_ativo {	
    background-image: url(../img/cartao_ativo.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-cartao_error {	
    background-image: url(../img/cartao_error.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-cartao_inativo {	
    background-image: url(../img/cartao_inativo.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-ativo {	
    background-image: url(../img/accept.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-inativo {	
    background-image: url(../img/exclamation.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-pendente {	
    background-image: url(../img/error.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-retorna-pagamento {	
    background-image: url(../img/money_back.png);
    background-repeat: no-repeat;
    padding: 1px;   	
}

.span-remove-pagamento {	
    background-image: url(../img/money_delete.png);
    background-repeat: no-repeat;
    padding: 1px;   	
}

.span-vinculo-inativo {	
    background-image: url(../img/linkInativo.png);
    background-repeat: no-repeat;
    padding: 1px;  	
}

.span-vinculo-pendente {	
    background-image: url(../img/linkPendente.png);
    background-repeat: no-repeat;
    padding: 1px;   	
}

.list-cartao-inexistente {	
    list-style-image: url(../img/cartao_inexistente.png);
    list-style-position: outside;   	
}

.list-cartao-solicitado {	
    list-style-image: url(../img/cartao_solicitado.png);
    list-style-position: outside;   	
}

.list-cartao-erro {	
    list-style-image: url(../img/cartao_error.png);
    list-style-position: outside;   	
}

.list-certificado {	
    list-style-image: url(../img/cert.png);
    list-style-position: outside;   	
}

.list-cancela-pre-aprovacao {	
    list-style-image: url(../img/money_back.png);
    list-style-position: outside;   	
}

.list-pagamento-nao-liberado {	
    list-style-image: url(../img/money_delete.png);
    list-style-position: outside;   	
}

.list-erro-solicitacao {	
    list-style-image: url(../img/exclamation.png);
    list-style-position: outside;   	
}

.list-ativo {	
    list-style-image: url(../img/accept.png);
    list-style-position: outside;   	
}

.list-pendente {	
    list-style-image: url(../img/error.png);
    list-style-position: outside;   	
}


#topo {
	margin: 0;
	border: 1px solid #999;
	height: 60px;
	background-image: url( ../img/bg_topo.gif );
}

#carregando {
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: #dedfdd; /* the background          */
	filter: alpha(opacity = 80); /* Internet Explorer       */
	-moz-opacity: 0.7; /* Mozilla 1.6 and below   */
	opacity: 0.7;
	layer-background-color: #FFCC00;
	border: 1px none #000000;
	color: #000;
	position: fixed;
	_position: absolute;
	left: 0px;
	top: 0px;
	text-shadow: Silver;
	text-align: center;
	padding-top: 25%;
}

#rodape {
	clear: both;
}

/*
	Defini��es de Layouts por classes
*/
.associacao {
	padding: 5px;
	margin-bottom: 5px;
}

.associacao h5 {
	margin-bottom: 5px;
	font-weight: bold;
}

.botao a {
	background-color: #b2b2ab;
	margin: 3px;
	padding: 2px;
	text-decoration: none;
	color: #000;
	border: 1px solid #999;
}

.botaoInput {
	background-color: #b2b2ab;
	margin: 3px;
	padding: 2px;
	text-decoration: none;
	color: #3F444A;
	border: 1px solid #999;
}

.botaoInput:hover {
	background-color: #777777;
	margin: 3px;
	padding: 2px;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	border: 1px solid #999;
}

.botaoNovo {
	margin: 5px;
	padding: 2px;
	font-size: 9px;
	height: 20px;
	text-decoration: none;
	border: 1px solid #777;
	background-color: #999;
	color: #000;
	border: 1px solid #999;
}

.botaoNovo:hover {
	margin: 5px;
	padding: 2px;
	font-size: 9px;
	height: 20px;
	text-decoration: none;
	border: 1px solid #000;
	background-color: #777;
	color: #000;
	cursor: pointer;
}

.campform {
	background-color: #F0FAFF;
	border: 1px solid #8DCAEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3f444a;
}

.campform_bt {
	background-color: #F0FAFF;
	height: 18px;
	border: 1px solid #8DCAEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3f444a;
}

.campform2 {
	background-color: #F0FAFF;
	border: 1px solid #8DCAEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3f444a;
	width: 710px;
}

.auto_complete {
	background-color: #F0FAFF;
	border: 1px solid #8DCAEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3f444a;
}

.auto_complete li:hover {
	background-color: #b2b2ab;
	cursor: pointer;
}

.clear {
	clear: both;
	margin-bottom: 10px;
}

.help {
	background: #dedfdd;
	border: 1px dotted #999;
	padding: 5px;
}

.help img {
	float: left;
}

.help ul {
	margin-left: 35px;
}

.left {
	margin-right: 10px;
	float: left;
}

.right {
	margin-right: 10 px;
	float: right;
}

.left label {
	margin: 0;
}

.margin {
	margin: 10px;
}

.minusculo {
	text-transform: lowercase;
}

.money {
	text-align: right;
	padding-right: 10px;
}

.padding {
	padding: 10px;
}

.paleta a {
	background-color: #999;
	margin: 4px;
	padding: 2px;
	text-decoration: none;
	color: #999;
	border: 1px solid #999;
}

.paleta a:hover {
	background-color: #dedfdd;
	margin: 4px;
	padding: 2px;
	text-decoration: none;
	color: #005B8C;
	border: 1px solid #999;
}

.paleta_atual {
	background-color: #FFFFFF;
	margin: 4px;
	padding: 2px;
	text-decoration: none;
	color: #999;
	border: 1px solid #999
}

.subline {
	background-image: url( ../img/subline.gif );
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #cacdcc;
}

.subtitulos {
	color: #33A1DB;
	font-weight: bold;
}

.tab1 {
	background-color: #d0d2d3;
}

.tab2 {
	background-color: #f2f5f9;
}

.tab1r {
	background-color: #a4a49f;
	text-align: right;
}

.tab2r {
	background-color: #cacdcc;
	text-align: right;
}

.tab5 {
	background-color: #FFFFFF;
}

.tab6 {
	background-color: #F2F2F2;
}

.tab_listagem4 {
	width: 99%;
	border: 1px solid #3f444a;
	margin-left: auto;
	margin-right: auto;
}

.tab_listagem4 .tab_titulo {
	color: white;
	background: #3f444a;
}

.tab_listagem2 {
	width: 99%;
	border: 1px solid #b2b2ab;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}

.tab_listagem2 .tab_titulo {
	color: white;
	background: #b2b2ab;
}

.tab_listagem3 {
	width: 99%;
	border: 1px solid #ddd;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}

.tab_listagem3 .tab_titulo {
	color: black;
	background: #ddd;
}

.tab_listagem {
	width: 99%;
	border: 1px solid #b2b2ab;
	font-size: 11px;
	margin-left: auto;
	margin-right: auto;
}

.tab_titulo {
	font-weight: bold;
	background: #a7aaae;
	text-align: center;
	padding: 1px;
}

.tab_tituloV {
	font-weight: bold;
	background: #DEDFDD;
	padding: 1px;
}

.tab_tituloL {
	font-weight: bold;
	background: #b2b2ab;
	text-align: left;
}

.tab_tituloR {
	font-weight: bold;
	background: #b2b2ab;
	text-align: right;
}

.tab_paleta {
	background-color: #cacdcc;
	border: 1px solid #999;
}

.titulo {
	font-size: 14px;
	color: #777;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
}

.voltar {
	float: right;
}

a {
	color: #3F444A;
}

a:hover {
	color: #000;
	background-color: #999;
	border-top-style: solid;
    border-top-width: 1px;
    color: #000000;
    padding-top: 4px; 
    
}

.tab_titulo_cl2 {
	font-weight: bold;
	background: #cee7f7;
	text-align: center;
}

.tab_tituloL_cl2 {
	font-weight: bold;
	background: #cee7f7;
	text-align: left;
}

.tab_tituloR_cl2 {
	font-weight: bold;
	background: #cee7f7;
	text-align: right;
}

.tab1r_cl2 {
	background: #e6f7ff;
	text-align: right;
}

.tab2r_cl2 {
	background: #ffffff;
	text-align: right;
}

#corpocentral {
	margin: 0 auto;
	width: 960px;
}

.cabecalho {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_top.jpg");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 137px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    position: relative;
    width: 910px;
}

.cabecalho span.borda_arredondada2 {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_canto_esq.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 137px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 30px;
}

.cabecalho span.borda_arredondada {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_canto_dir.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 137px;
    position: absolute;
    right: -30px;
    top: 0;
    width: 30px;
}

.marca_capes {
	background: url(../img/logo_sgb.png) no-repeat;
	height:41px;
	width:592px;
	line-height:64px;
	display:block;
	padding-left:100px;
	color:#666666;
	text-decoration:none;
	margin-top:20px;
	overflow:hidden;
	text-indent:-9000px;
}

h3.marca_capes a {
	background: url(../img/logo_sgb.png) no-repeat;
	height:41px;
	width:592px;
	line-height:64px;
	display:block;
	padding-left:100px;
	color:#666666;
	text-decoration:none;
	margin-top:20px;
	overflow:hidden;
	text-indent:-9000px;
}
.containerConteudo {
	background:#fff;
}

.rodape {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_rodape.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-top-color: #F2F7FB;
    border-top-style: solid;
    border-top-width: 2px;
    color: #008834;
    height: 55px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
}

span.logo_rodape a {
    display: block;
    height: 58px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
    text-indent: -9000px;
    width: 75px;
}
classes.css (linha 21)
a, a:visited {
    color: #005FB9;
}

.logo_rodape {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/logo_capes.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 58px;
    left: 30px;
    position: relative;
    top: -10px;
    width: 75px;
}
span.logo_rodape a {
    display: block;
    height: 58px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
    text-indent: -9000px;
    width: 75px;
}
span.logo_rodape a:hover {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

.rodape span.borda_arredondada {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/bg_rodape_borda.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
div.rascunhos {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    background: none repeat scroll 0 0 #E2E2E2;
    border: 1px solid #C2C2C2;
    clear: both;
    margin: 10px 0 0;
    min-height: 25px;
    padding: 0px;
}

#accord {
    display: none;
    padding: 3px;
}

div.rascunhos ul {
  -moz-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 #FFFFFF;
  border:1px solid #C2C2C2;
  list-style:none outside none;
  margin:3px;
  padding:0; 
}

div.rascunho ul li {
  border-bottom:1px solid #C2C2C2;
  line-height:30px;
  min-height:30px;
  padding:0 8px;  
}

div.tiposEntidades {
   padding: 5px;
}

#dadosUsuarios{
	margin-top: 35px;
	float: right;
	display: block;
		
}
.cabecalho h3 {
padding-top: 10px;
margin: 0;
}

#CursoentidadeCoEntidade {
    width: 496px;
}

#logo_SGB {
	background: url(../img/logo_sgb_homolog.png) no-repeat;
	height:41px;
	width:860px;
	line-height:64px;
	display:block;
	color:#666666;
	text-decoration:none;
	margin-top:20px;
	float: left;
	overflow:hidden;
	text-indent:-9000px;	
}

#logo_SGB.prod {
	background: url(../img/logo_sgb_prod.png) no-repeat;
	height:41px;
	width:860px;
	line-height:64px;
	display:block;
	color:#666666;
	text-decoration:none;
	margin-top:20px;
	float: left;
	overflow:hidden;
	text-indent:-9000px;	
}

.info_sistema {
	position: absolute;
	top: 22px;
	right: 30px;
	width: 97px;
}
.versao_sistema {
	float: right;
	padding: 1px 0;
	font-size: 85%;
	margin: 0 0 0 10px;
}
.navegadores {
	list-style: none;
	padding: 3px;
	margin: 0;
	height: 24px;
	width: 112px;
	float: left;
	/*background: #F2F2F2;*/
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.navegadores li {
	float: left;
	display: block;
	height: 24px;
	width: 24px;
	overflow: hidden;
	margin: 0 2px;
	background: url("../img/sprite_compatibilidade.png") no-repeat;
	text-indent: -1000px;
	cursor: help;
}
.navegadores li.inativo {
	cursor: auto;
}
.navegadores li.msie {
	background-position: 0 0;
}
.navegadores li.mff {
	background-position: -24px 0;
}
.navegadores li.gc {
	background-position: -48px 0;
}
.navegadores li.asf {
	background-position: -72px 0;
}
.navegadores li.msie.inativo {
	background-position: 0 -48px;
}
.navegadores li.mff.inativo {
	background-position: -24px -48px;
}
.navegadores li.gc.inativo {
	background-position: -48px -48px;
}
.navegadores li.asf.inativo {
	background-position: -72px -48px;
}
	
#vinculoAtivo { color: #006400;}

#vinculoPendente { color: #8B8B00;}

#vinculoInativo { color: #B22222;}
