<ul>
    @foreach(var e in @Model.Errors) {
        foreach(var memberName in e.MemberNames) {
            <li class="user-item">
                <span>@e.GetMessage(memberName)</span> 
            </li>
        }
    }
</ul>
