
header.subhead{ background:#027dc1 url('../img/bg-header.png'); }
#carousel-home{ margin-top:-1px; }
.logo{ float:left; }
.title-header{ float:left; width:90%; margin-left:15px; }
.shadow-left{ position:absolute; left:30px; top:0; }
.shadow-right{ position:absolute; right:30px; top:0; }