@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Criando documento de nova viagem...";
}
@section JavaScript
{
    <script type="text/javascript" >
        $(function() {
            $("#create_button").click(function(event) {
                event.preventDefault();
                $.ajax({
                   url: '/travel/create',
                   async: false,
                   type: "POST",
                   data: $("#create_form").serialize(),
                   dataType: "text",
                   error: function(jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                        console.log(errorThrown);
                   },
                   complete: function(jqXHR, textStatus){
                        console.log(textStatus);
                   },
                    statusCode: {
                        200: function(data, textStatus, jqXHR) {
                            $("#errors").html(data);
                        },                    
                        201: function(data, textStatus, jqXHR) {
                            if (jqXHR.getResponseHeader('Location')) {
                                window.location.href = jqXHR.getResponseHeader('Location');
                            }
                            else {
                                alert("Ooops!");
                            }
                        }                        
                      }                  
                });
            });
        });
    </script>
}        
<div id="errors"></div>
<form id="create_form">
  Professor Name: <input type="text" name="ProfessorName" value="thild" /><br />
  Departure Date: <input type="text" name="DepartureDate" value="dd/mm/aaaa" /><br />
  Departure Time:<input type="text" name="DepartureTime" value="hh:mm" /><br />
  Return Date:<input type="text" name="ReturnDate" value="dd/mm/aaaa" /><br />
  Vehicle:<input type="text" name="Vehicle" value="Carro da Unicentro" /><br />
  Travel Reason:<input type="text" name="TravelReason" value="Congresso" /><br />
  Driver Name:<input type="text" name="DriverName" value="Tony" /><br />
</form> 
<a id="create_button"  href="@Html.RenderContext.Context.Request.Url" />Inserir</a>

