<!DOCTYPE html>
<head>
    <title>Nancy in a Kayak</title>
</head>
<body>
    <h1>Hello there @Model.FirstName @Model.LastName!</h1>
    <p>Razor and Nancy in a Kayak!</p>
    <form method="POST">
      First name: <input type="text" name="FirstName" value="Mickey" /><br />
      Last name:<input type="text" name="LastName" value="Mouse" /><br />
      <input type="submit" value="Submit" />
    </form> 
</body>
</html>