body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 46%;
	color: #3f444a;
}

#menu {
	display: none;
	float: none;
	width: 0px;
}

#conteudo {
	width: 50%;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#conteudo #listagens {
	width: 58%;
	padding: 5px;
	background-color: #FFF;
}

.tab_listagem4 {
	border: 1px solid #3f444a;
}

.tab_listagem4 .tab_titulo {
	color: white;
	background: #3f444a;
}

.botaoInput {
	display: none;
}

.tab1 {
	background-color: #B5B5B5;
}

.tab2 {
	background-color: #E8E8E8;
}