/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #FFFFFF;
	margin:10px 0pt 15px;
	font-size: 12px;
	width: 99%;
	border: 1px solid #4AA6D7;
	text-align: center;
	line-height: 18px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-weight: bold;
	background: #4AA6D7;
	text-align: center;
	font-size: 12px;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 1px;
	background-color: #CCE6F4;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color: #E1F5FF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
