@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "GestUAB - Sistema de Gestão da UAB/Unicentro";
}

@section HomeHeader {

    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="logo">
            <img src='@Url.Content("~/Content/img/logo-uab.jpg")' alt="logo UAB">
        </div>
        <div class="title-header">
            <h1>GestUAB</h1>
            <p class="lead">Sistema de Gestão UAB/Unicentro.</p>
        </div>
      </div>
    </header>

}

<div id="carousel-home" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src='@Url.Content("~/Content/img/slider1.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Professores</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>	
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider2.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Cursos</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider3.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Bolsas</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel-home" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-home" data-slide="next">&rsaquo;</a>
</div>

<!-- Main hero unit for a primary marketing message or call to action -->
     
<div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>