@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "Inserindo usuário...";
}
@section JavaScript
{
    <script type="text/javascript" >
        $(function() {
        // Handler for .ready() called.
            $("#create_button").click(function(event) {
                //alert("Handler for .click() called.");
                event.preventDefault();
                $.ajax({
                   url: '/user/create',
                   async: false,
                   type: "POST",
                   data: $("#create_form").serialize(),
                   dataType: "jsonp",
                   error: function(jqXHR, textStatus, errorThrown){
                            alert("Error!");
                   },
                   complete: function(jqXHR, textStatus){
                   },
                    statusCode: {
                        201: function(data, textStatus, jqXHR) {
                            if (jqXHR.getResponseHeader('Location')) {
                                // data.redirect contains the string URL to redirect to
                                window.location.href = jqXHR.getResponseHeader('Location');
                            }
                            else {
                                alert("Ooops!");
                            }
                        }
                      }                  
                });
            });
        });
    </script>
}        
<form id="create_form">
  Username: <input type="text" name="Username" value="mmouse" /><br />
  First name: <input type="text" name="FirstName" value="Mickey" /><br />
  Last name:<input type="text" name="LastName" value="Mouse" /><br />
  Email:<input type="text" name="Email" value="mickey@disney.com" /><br />
</form> 
<a id="create_button"  href="@Html.RenderContext.Context.Request.Url" />Inserir</a>

