<!DOCTYPE html>
<html>
<head>
    <title>Nancy in a Kayak</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <script type="text/javascript" >
        $(function() {
        // Handler for .ready() called.
            $("#delete").click(function() {
                //alert("Handler for .click() called.");
                $.ajax({
                   url: '/user/delete',
                   async: false,
                   type: 'DELETE',
                   data: {UserName: 'thild'},
                   dataType: "jsonp",
                   success: function( data, textStatus, jqXHR ) {
                    alert(data.Message);
                   }
                });
            });
        });
    </script>
</head>
<body>
    <form method="DELETE" action="/user/delete">
      Username: <input type="text" name="UserName" value="" /><br />
      <input id="delete" type="button" value="Delete"  />
    </form> 
</body>
</html>