@using GestUAB
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "GestUAB - Sistema de Gestão da UAB/Unicentro";
}

<div class="container-fluid">
      <div class="hero-unit">
            <h1>GestUAB - Sobre</h1>
            <p>Sistema de Gestão UAB (GestUAB). </p>
            <p>Aplicação desenvolvida pela turma do ano de 2012 do curso de Ciência da Computação da Unicentro em 
                conjunto com o prof. Tony A. Hild da disciplina de Tópicos Especiais em Ciência da Computação. </p>
            <p>Este é um software livre aberto a todas as unidades da Universidade Aberta do Brasil. 
                E está disponivel no <a href="ttps://github.com/thild/GestUAB/">Github</a>.</p>
            <p><a class="btn btn-primary btn-large">Acessar »</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Gerência de Professores</h2>
              <p>Módulo responsável pelo cadastro, atualização e gerência dos dados referentes aos professores 
                da UAB. </p>
            </div><!--/span-->
            <div class="span4">
              <h2>Gerência de Cursos</h2>
              <p>Seção para cadastro e atualização de dados e informações referentes aos cursos disponibilizados 
                pela UAB. </p>
              
            </div><!--/span-->
            <div class="span4">
              <h2>Controle de Convênios</h2>
              <p>Seção para cadastro e manutenção de dados dos convênios necessários para o funcionamento de cursos e 
                turmas da UAB. </p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Controle de Viagens</h2>
              <p>Módulo responsável pelo controle de viagens dos profissionais da UAB, quando necessárias para 
                realização das atividades inerentes aos cursos ofertados. </p>
            </div><!--/span-->
            <div class="span4">
              <h2>Controle de bolsas</h2>
              <p>Cadastro das bolsas referentes a manutenção dos cursos e pagamento de professores, para compra de 
                materiais, etc</p>
              <p><a class="btn" href="#">Acessar »</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Controle de diárias</h2>
              <p>Modulo para controle dos pagamentos de diarias aos professores que necessitam ficar mais de um dia 
                nos polos. </p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->