@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.Title = "GestUAB - Sistema de Gestão da UAB/Unicentro";
}

@section HomeHeader {

    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>GestUAB</h1>
        <p class="lead">Aplicação desenvolvida pela turma do ano de 2012 do curso de Ciência da Computação da Unicentro em conjunto com o prof. Tony A. Hild da disciplina de Tópicos Especiais em Ciência da Computação.</p>
      </div>
    </header>

}

<div id="carousel-home" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src='@Url.Content("~/Content/img/slider1.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Professores</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider2.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Cursos</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
    <div class="item">
        <img src='@Url.Content("~/Content/img/slider3.jpg")' alt="Slider 1">
        <div class="carousel-caption">
            <h4>Bolsas</h4>
            <p>Lorem ipsum dolor sit amet consectur dolor</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel-home" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-home" data-slide="next">&rsaquo;</a>
</div>

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <h2>Gerência de Professores</h2>
          <p>Módulo responsável pelo cadastro, atualização e gerência dos dados referentes aos professores 
            da UAB. </p>
        </div><!--/span-->
        <div class="span4">
          <h2>Gerência de Cursos</h2>
          <p>Seção para cadastro e atualização de dados e informações referentes aos cursos disponibilizados 
            pela UAB. </p>
          
        </div><!--/span-->
        <div class="span4">
          <h2>Controle de Convênios</h2>
          <p>Seção para cadastro e manutenção de dados dos convênios necessários para o funcionamento de cursos e 
            turmas da UAB. </p>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row-fluid">
        <div class="span4">
          <h2>Controle de Viagens</h2>
          <p>Módulo responsável pelo controle de viagens dos profissionais da UAB, quando necessárias para 
            realização das atividades inerentes aos cursos ofertados. </p>
        </div><!--/span-->
        <div class="span4">
          <h2>Controle de bolsas</h2>
          <p>Cadastro das bolsas referentes a manutenção dos cursos e pagamento de professores, para compra de 
            materiais, etc</p>
          <p><a class="btn" href="#">Acessar »</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Controle de diárias</h2>
          <p>Modulo para controle dos pagamentos de diarias aos professores que necessitam ficar mais de um dia 
            nos polos. </p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->