<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gate" version="0.3.6" />
  <package id="Kayak" version="0.11.0" />
  <package id="Gate.Hosts.Kayak" version="0.3.6" />
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Hosting.Owin" version="0.11.0" />
  <package id="Spark" version="1.7.0.0" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
</packages>